.gradio-container.gradio-container-4-44-0.svelte-wpkpf6.app{
       background-color: rgb(222,236,254);
       background-size: cover;
       background-position: center;
       background-repeat:no-repeat;
   }
